node_modules
*.log
.cache

.vscode
*.secret.*
debug.*
sign.*
.env


packages/cita-sdk/*.html
packages/cita-sdk/examples/config.js
debug
citaSignTransaction.ts
*.brk

# working
subscription

# npm
# package-lock.json
yarn.lock
lib

