[submodule "packages/appchain-base/cita-sys-abi"]
	path = packages/appchain-base/cita-sys-abi
	url = https://github.com/cryptape/cita-sys-abi
[submodule "packages/appchain-signer/cita-proto"]
	path = packages/appchain-signer/cita-proto
	url = https://github.com/cryptape/cita-proto
[submodule "packages/appchain-signer/appchain-tests"]
	path = packages/appchain-signer/appchain-tests
	url = https://github.com/cryptape/appchain-tests/
