node_modules
*.log
.cache

.vscode
*.secret.*
debug.*
sign.*


packages/appchain-base/*.html
packages/appchain-base/examples/config.js
debug
citaSignTransaction.ts
*.brk

# working
subscription

# npm
package-lock.json
