body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 644px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 25px;
}

button {
  border-radius: 2px !important;
}
