.logo {
  /* margin: 0 auto; */
  position: relative;
  top: 0;
  right: 50vw;
  transform: translateX(-50%);
  width: 90px;
  filter: drop-shadow(100vw 0 blue);
  margin: 24px 0;
  animation: neon 10s linear 0s infinite;
  /* transition: all linear; */
}

@keyframes neon {
  0% {
    filter: drop-shadow(100vw 0 blue), blur(10px);
  }
  20% {
    filter: drop-shadow(100vw 0 green);
  }
  40% {
    filter: drop-shadow(100vw 0 yellow);
  }
  60% {
    filter: drop-shadow(100vw 0 orange);
  }
  80% {
    filter: drop-shadow(100vw 0 red);
  }
  100% {
    filter: drop-shadow(100vw 0 blue);
  }
}
